<!-- src/app/pages/van-selection/van-selection.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Select Your Van</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-accordion-group>
    <ion-accordion *ngFor="let van of vans">
      <!-- Accordion header: click to expand/collapse -->
      <ion-item slot="header">
        <ion-label>{{ van }}</ion-label>
      </ion-item>

      <!-- Accordion content: list of numbers -->
      <div slot="content" class="ion-padding-start">
        <ion-list>
          <ion-item
            *ngFor="let num of numbersMap[van]"
            button
            (click)="selectVan(van, num)"
          >
            <ion-label>{{ num }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
