<!-- src/app/pages/van-selection/van-selection.page.html -->
<app-header class="ion-text-center" title="Van Selection"></app-header>


<ion-content class="ion-padding">
  <div class="van-selection-box">
    <h2 class="box-title">Select your van</h2>
      <div class="van-options">
        <ion-accordion-group>
          <ion-accordion *ngFor="let van of vans">
            <!-- Accordion header: click to expand/collapse -->
            <ion-item slot="header">
              <ion-label class="ion-text-center">{{ van }}</ion-label>
            </ion-item>
          
            <!-- Accordion content: list of numbers -->
            <div slot="content" class="ion-text-center">
              <ion-list class="number-grid">
                <ion-item *ngFor="let num of numbersMap[van]" button (click)="selectVan(van, num)">
                  <ion-label>{{ num }}</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
  </div>
</ion-content>