<app-header class ="ion-text-center" title="{{ vanType }} {{ vanNumber }}"></app-header>

<ion-content class="ion-padding">
  <ion-grid class="capture-grid">
    <ion-row *ngFor="let side of sides">
      <!-- Side label -->
      <ion-col size="7" class="ion-text-capitalize ion-text-center">
        {{ side }}
      </ion-col>

      <!-- Capture/Retake button -->
      <ion-col size="5" class="ion-text-right">
        <ion-button class="capture-btn" (click)="takePhoto(side)">
          {{ photos[side] ? 'Retake' : 'Capture' }}
        </ion-button>
      </ion-col>

      <!-- Preview once taken -->
      <ion-col size="12" *ngIf="photos[side]">
        <ion-img [src]="photos[side]!"></ion-img>
      </ion-col>
    </ion-row>
  

    <ion-button 
      class="submit-btn"
      (click)="submitAll()"
      [disabled]="!allPhotosTaken"
    >
      Submit
    </ion-button>
  </ion-grid>

  <ion-loading
    [isOpen]="isLoading"
    message="Uploading photos…"
  ></ion-loading>


</ion-content>
